@import "tailwindcss";

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--color-background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--color-muted));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--color-muted-foreground));
}
